<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Секундомеры</title>
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    /* Стили для секундомера */
    .timer {
      background-color: black;
      color: gray;
      width: 225px;
      height: 120px;
      display: inline-block;
      margin: 10px;
      text-align: center;
    }
    
    .timer h1 {
      font-size: 3em;
      margin: 0;
      padding: 10px;
    }
    
    .timer .controls {
      padding: 10px;
      border-top: 1px solid white;
      display: flex;
      justify-content: space-between;
    }
    
    .timer .controls button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1.5em;
      cursor: pointer;
      outline: none;
    }
    
    /* Стили для кнопки добавления секундомера */
    .add-timer {
      display: block;
      margin: 10px;
      padding: 10px;
      background-color: white;
      color: black;
      border: 1px solid black;
      text-align: center;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- Компонент для отображения секундомеров -->
    <div v-for="(timer, index) in timers" :key="index" class="timer">
      <h1>{{ formatTime(timer.time) }}</h1>
      <div class="controls">
        <button @click="startTimer(timer)" v-if="!timer.running">▶</button>
        <button @click="pauseTimer(timer)" v-if="timer.running">⏸</button>
        <button @click="resetTimer(timer)">🔄</button>
      </div>
    </div>
    
    <!-- Кнопка для добавления нового секундомера -->
    <button class="add-timer" @click="addTimer">Добавить секундомер</button>
  </div>
  
  <script>
    const app = Vue.createApp({
      data() {
        return {
          timers: [] // Список секундомеров
        }
      },
      methods: {
        // Функция для форматирования времени в формат чч:мм:сс
        formatTime(time) {
          const hours = Math.floor(time / 3600);
          const minutes = Math.floor((time - hours * 3600) / 60);
          const seconds = time - hours * 3600 - minutes * 60;
          return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        },
        
// Функция для запуска таймера
startTimer(timer) {
  if (!timer.running) {
    timer.running = true;
    timer.startTime = new Date().getTime();
    timer.intervalId = setInterval(() => {
      timer.time = Math.floor((new Date().getTime() - timer.startTime) / 1000);
    }, 1000);
  }
},
 // Функция для остановки таймера
    pauseTimer(timer) {
      timer.running = false;
      clearInterval(timer.intervalId);
    },
    
    // Функция для сброса таймера
    resetTimer(timer) {
      timer.running = false;
      timer.time = 0;
      clearInterval(timer.intervalId);
    },
    
    // Функция для добавления нового таймера
    addTimer() {
      this.timers.push({
        time: 0,
        running: false,
        intervalId: null,
        startTime: null
      });
    }
  }
});

app.mount('#app');

  </script>
</body>
</html>